
html body {
    font-family: monospace;
    max-width: 1200px;
    margin-left: auto;
    margin: auto;
}
html h1 {
    font-family: monospace;
    color: red;
    font-size: 3rem;
    font-weight: 600;
}
html a {
    font-family: monospace;
 font-size: 1.5rem;
 margin: 1rem;
}
form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
form  input {
    margin: 10px 0;
    font-size: 1.3rem;
    padding: 8px 20px;
    border-radius: 8px ;
}
form  input[type=submit] {
    margin: 10px 0;
    font-size: 1.3rem;
    padding: 4px 20px;
    border-radius: 8px ;
    cursor: pointer;
    font-weight: 500;
}
form  input[type=submit]:hover {
  background-color: red;
  color: white;
}
tbody {
    font-size: 1.2rem;

}
thead {
    font-size: 1.2rem;
}
.footer {
    height: 50vh;
    width: 100%;
}